<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main class="main-content">
      <section class="form-register" >
        <form action="/create" method="POST" enctype="multipart/form-data"> 
          <p>Crear Producto</p>
          <div>
            <input
              class="ctrl"
              type="text"
              name="name"
              id="name"
              placeholder="Nombre del producto"
              required
            />
          </div>
          <div>
            <input
              type="text"
              class="ctrl"
              name="description"
              id="description"
              placeholder="Descripción del producto"
              required
            />
          </div>
          <div>
            <input
              class="ctrl"
              type="number"
              name="price"
              id="price"
              placeholder="Precio"
              required
            />
          </div>
          <div>
            <label><input type="checkbox" name="sizes[]" value="S"> S</label>
            <label><input type="checkbox" name="sizes[]" value="M"> M</label>
            <label><input type="checkbox" name="sizes[]" value="L"> L</label>
            <label><input type="checkbox" name="sizes[]" value="XL"> XL</label>
          </div>
          <!-- <div>
            <select name="category" id="category" class="ctrl">
              <option value="" disabled selected>Categoría</option>
              <option value="blusas">Blusas</option>
              <option value="abrigos">Abrigos</option>
              <option value="pantalones">Pantalones</option>
              <option value="vestidos">Vestidos</option>
            </select>
          </div> -->
          <div class="imgProduct">
            <p>Imagen:</p>
            <input type="file" name="img" id="img" required />
          </div>

          <div class="btnForm">
            <button type="reset">Borrar</button>
            <button type="submit">Crear</button>
          </div>

        </form>
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
