<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main class="main-content">
      <div class="columnas">
        <div class="columna">
          <img class="imgDetalle" src="/img/ropa.jpeg">
        </div>
        <div class="columna">
          <div class="contenedorOpciones"> <!-- inicio del contenedor de opciones-->
            <div class="formOpciones">
              <h4 class="tituloProducto">Pantalón Marrón</h4>
              <h4 class="price">$30.000</h4>
              <div class="cant">
                <h4>Cantidad:</h4>
                <input type="number" min="1" max="10" placeholder="1">
              </div>
              <div class="tallesContenedor">
                <div class="talleBox"><h4>S</h4></div>
                <div class="talleBox"><h4>M</h4></div>
                <div class="talleBox"><h4>L</h4></div>
                <div class="talleBox"><h4>XL</h4></div>
              </div>
              <div class="promocionesBancarias">
                <h4>
                  Promociones Bancarias <i class="fa-solid fa-credit-card"></i>
                </h4>
                <h5>3 cuotas fijas de $16.700</h5>
                <h5>6 cuotas fijas de $8350</h5>
                <h5>12 cuotas fijas de $4200</h5>
              </div>
              <button class="btnDetail" type="submit">
                Agregar al carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include("../partials/footer.ejs")  %>
  </body>
</html>


