<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main class="main-content">
      <section class="form-register">
        <form action="" method="post">
          <p>Editar Producto</p>
          <div>
            <input
              class="ctrl"
              type="text"
              name="nombre"
              id="nombre"
              placeholder="Nombre del producto"
              required
            />
          </div>
          <div>
            <input
              type="text"
              class="ctrl"
              name="descripcion"
              id="descripcion"
              placeholder="Descripción del producto"
              required
            />
          </div>
          <div>
            <input
              class="ctrl"
              type="number"
              name="precio"
              id="precio"
              placeholder="Precio"
              required
            />
          </div>
          <div>
            <select name="talles" id="talles" class="ctrl">
              <option value="" disabled selected>Talles</option>
              <option value="s">S</option>
              <option value="m">M</option>
              <option value="l">L</option>
              <option value="xl">XL</option>
            </select>
          </div>
          <div class="imgProduct">
            <p>Imagen:</p>
            <input type="file" required />
          </div>
          <div class="btnForm">
            <button type="reset">Borrar</button>
            <button type="submit">Crear</button>
          </div>
        </form>
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
