<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://api.fontshare.com/v2/css?f[]=poppins@500,400,300,800,700&f[]=satoshi@900,700,500,300,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Marketplace</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="navbar">
          <a href="/">
            <img class="logo" src="/img/logo2.png" alt="logo" />
          </a>
          <div class="inputSearch">
            <input type="text" placeholder="Busca tu producto" />
            <div class="lupa">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                className="icon icon-tabler icon-tabler-search"
                width="15"
                height="15"
                viewBox="0 0 24 24"
                strokeWidth="1.5"
                stroke="#000000"
                fill="none"
                strokeLinecap="round"
                strokeLinejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                <path d="M21 21l-6 -6" />
              </svg>
            </div>
          </div>
          <div class="icons">
            <a href="">
              <svg
                width="30"
                height="30"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill="#000"
                  d="m12.1 18.55l-.1.1l-.11-.1C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5c1.54 0 3.04 1 3.57 2.36h1.86C13.46 6 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5c0 2.89-3.14 5.74-7.9 10.05M16.5 3c-1.74 0-3.41.81-4.5 2.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5c0 3.77 3.4 6.86 8.55 11.53L12 21.35l1.45-1.32C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3Z"
                />
              </svg>
            </a>
            <a href="/cart">
              <svg
                width="30"
                height="30"
                viewBox="0 0 48 48"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g fill="none">
                  <path d="M39 32H13L8 12h36l-5 20Z" />
                  <path
                    stroke="#000"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="4"
                    d="M3 6h3.5L8 12m0 0l5 20h26l5-20H8Z"
                  />
                  <circle
                    cx="13"
                    cy="39"
                    r="3"
                    stroke="#000"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="4"
                  />
                  <circle
                    cx="39"
                    cy="39"
                    r="3"
                    stroke="#000"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="4"
                  />
                </g>
              </svg>
            </a>
            <a href="/login">
              <svg
                width="26"
                height="26"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill="#000000"
                  d="M10 8c1.7 0 3.06-1.35 3.06-3S11.7 2 10 2S6.94 3.35 6.94 5S8.3 8 10 8zm0 2c-2.8 0-5.06-2.24-5.06-5S7.2 0 10 0s5.06 2.24 5.06 5s-2.26 5-5.06 5zm-7 8h14v-1.33c0-1.75-2.31-3.56-7-3.56s-7 1.81-7 3.56V18zm7-6.89c6.66 0 9 3.33 9 5.56V20H1v-3.33c0-2.23 2.34-5.56 9-5.56z"
                />
              </svg>
            </a>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="mainCarrousel">
        <div class="carrousel-list">
          <!-- <div class="arrow left-arrow">&larr;</div> -->
          <div class="carrousel-track">
            <div class="carrousel">
              <div>
                <a href="/detail">
                  <img src="/img/pantalon2.jpeg" alt="Pantalon Gris" />
                  <h4>Pantalón Gris</h4>
                  <h6>$45.000</h6>
                </a>
              </div>
            </div>
            <!-- 
            <div class="carrousel">
              <div>
                <a href="/">
                  <img src="/img/BuzoBeige.jpg" alt="Buzo Beige" />
                  <h4>Buzo Beige</h4>
                  <h6>$30.000</h6>
                </a>
              </div>
            </div> -->

            <div class="carrousel">
              <div>
                <a href="/detail">
                  <img src="/img/camisaHueso.jpg" alt="Camisa Hueso" />
                  <h4>Camisa Hueso</h4>
                  <h6>$20.000</h6>
                </a>
              </div>
            </div>

            <div class="carrousel">
              <div>
                <a href="/detail">
                  <img src="/img/musculosaNegra.jpg" alt="Musculosa Negra" />
                  <h4>Musculosa Negra</h4>
                  <h6>$15.000</h6>
                </a>
              </div>
            </div>

            <div class="carrousel">
              <div>
                <a href="/detail">
                  <img src="/img/ropa.jpeg" alt="Pantalon Marron" />
                  <h4>Pantalón Marrón</h4>
                  <h6>$50.000</h6>
                </a>
              </div>
            </div>

            <div class="carrousel">
              <div>
                <a href="/detail">
                  <img src="/img/vestidoNegro.jpg" alt="Vestido Negro" />
                  <h4>Vestido Negro</h4>
                  <h6>$45.000</h6>
                </a>
              </div>
            </div>
            <!--
            <div class="carrousel">
              <div>
                <a href="/">
                  <img src="/img/shortNegro.jpg" alt="Short Negro" />
                  <h4>Short Negro</h4>
                  <h6>$18.000</h6>
                </a>
              </div>
            </div>
  
            <div class="carrousel">
              <div>
                <a href="/">
                  <img src="/img/vestidoBlanco.jpg" alt="Vestido Blanco" />
                  <h4>Vestido Blanco</h4>
                  <h6>$36.000</h6>
                </a>
              </div>
            </div>
  
            <div class="carrousel">
              <div>
                <a href="/">
                  <img src="/img/vestidoRosa.jpg" alt="Vestido Rosa" />
                  <h4>Vestido Rosa</h4>
                  <h6>$22.000</h6>
                </a>
              </div>
            </div>
  
            <div class="carrousel">
              <div>
                <a href="/">
                  <img src="/img/sweaterBeige.jpg" alt="Sweater Beige" />
                  <h4>Sweater Beige</h4>
                  <h6>$28.000</h6>
                </a>
              </div>
            </div> -->
          </div>

          <!-- <div class="arrow right-arrow">&rarr;</div> -->
        </div>
      </div>
    </main>
    <footer class="footerFlex">
      <img src="/img/logo2.png" alt="logo" class="logoFooter" />
      <div class="infoFooter">
        <h3>Información general:</h3>
        <ul>
          <li><a href="#">Acerca de nosotros</a></li>
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">Contactanos</a></li>
        </ul>
      </div>
      <div class="iconsFooter">
        <svg
          width="35"
          height="35"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill="#000000"
            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z"
          />
        </svg>
        <svg
          width="35"
          height="35"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill="#000000"
            d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95z"
          />
        </svg>
        <svg
          width="35"
          height="35"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill="#000000"
            d="M19.05 4.91A9.816 9.816 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01zm-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.264 8.264 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.183 8.183 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23zm4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07c0 1.22.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28z"
          />
        </svg>
      </div>
      <h4 class="copyright">Copyright © 1999-2023 Marketplace S.R.L.</h4>
    </footer>
  </body>
</html>
