/* --------------------- INICIO DEL DETALLE-----------------------------*/

/*POSICIONAMIENTO DE LOS 3 DIVS */
.main {
  display: grid;
  grid-template-columns: 30% 35% 35%; 
  justify-content: center; 
  align-items: center; 
  gap: 3rem;
  height: 25rem; 
  margin: 0 100px;
}

.miniatura{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.img-mini {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 3px;
}

.img-principal{
  width: 20rem;
  height: 25rem;
  border-radius: 4px;
}

.custom-button {
  padding: 10px 20px;
  border: 2px solid black; 
  border-radius: 10px; 
  background-color: white; 
  color: #1e1e1e; 
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

/* Estilo para contenedor */
.button-container {
  display: flex;
  flex-wrap: wrap;
}
/*estilos para promociones bancarias*/

/* Estilos para el contenedor de promociones */
.promociones {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Estilos para cada promoción individual */
.promocion {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.promocion h3 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
}

.detalles {
  
  width: fit-content; 
  height: 25rem;
  padding: 30px;
  box-sizing: border-box; 
  background: linear-gradient(to top, #d1b292, #dac3a3);
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.promociones {
  max-width: 100%; 
  margin-top: 20px; 
}

.btn-carrito {
  display: block;
  width: 100%;
  background-color: #030f29;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 10px;
  font-family: "Satoshi", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn-carrito:hover{
  background-color: #ebebeb;
  color: black;
}

.cant{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: .5rem;
}

.boxCantidad {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.btnCantidad {
  border: none;
  background: none;
  border: 1px solid black;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
}



/* --------------------- FIN DEL DETALLE-----------------------------*/
