/* --------------------- INICIO DEL DETALLE-----------------------------*/

.columnas{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.columnas h4, h5{
  font-weight: 500;
}

.columna{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgDetalle{
  width: 30rem;
  height: 30rem;
  border-radius: 2px;
  background-position: center;
  box-shadow: 2px 2px 10px #ebebeb;

}

.contenedorOpciones{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 30rem;
  border-radius: 2px;
  background: linear-gradient(to bottom, #f4e5d7, #f8ebdf);
  box-shadow: 2px 2px 20px #ebebeb;
}

.formOpciones{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1.5rem;
}

.tituloProducto{
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 2px;
}

.price{
  font-size: 15px;
}

.tallesContenedor{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.talleBox{
  width: 3rem;
  height: 2.5rem;
  cursor: pointer;
  background: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin-bottom: 1rem;
}

.talleBox:hover{
  background-color: #faf0e6;
}

.talleBox h4{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.cant{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.cant input{
  background: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.promocionesBancarias{
  width: 100%;
  background: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  padding: 4px;
}

.promocionesBancarias h5{
  margin: .5rem 0;
}


.btnDetail {
  width: 100%;
  background: #000000;
  border: none;
  padding: 8px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.btnDetail:hover {
  background: #ffffff;
  color: #000000;
  font-weight: bold;
}

@media (max-width: 767px){
  .columnas{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  
.imgDetalle{
  width: 90%

}

.contenedorOpciones{
 width: 90%;
}


}

/* --------------------- FIN DEL DETALLE-----------------------------*/
