<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main align="center" class="main-content">
      <h2>Bienvenido/a: <span><%= user.email %></span></h2>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
