<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main class="main-content">
      <section class="form-register">
        <p>REGISTRATE</p>
        <input
          class="ctrl"
          name="text"
          id="nomap"
          placeholder="Ingrese su Nombre y Apellido"
        />
        <input
          class="ctrl"
          type="text"
          name="dni"
          id="dni"
          placeholder="Ingrese su DNI"
        />
        <input
          class="ctrl"
          type="text"
          name="tel"
          id="tel"
          placeholder="Ingrese su Telefono"
        />
        <input
          class="ctrl"
          type="email"
          name="correo"
          id="correo"
          placeholder="Ingrese su @Mail"
        />
        <input
          class="ctrl"
          type="password"
          name="contraseña"
          id="contraseña"
          placeholder="Ingrese su Contraseña"
        />
        <!-- <p>ESTOY DE ACUERDO <a href="#">TERMINOS Y CONDICIONES</a></p> -->
        <input class="btn" type="submit" value="Crear cuenta" />
        <p>Ya tienes una cuenta? <a href="/login">Ingresá aquí</a></p>
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
